@charset "UTF-8";

body {
  margin-bottom: 30px;
}

ul {
	margin: 5px;
	padding: 5px;
}

li {
	list-style-type: none;
}

.jumbotron {
  background: #445c7c;
  color: #fff;
	margin: 0 auto 50px;
}

.btn {
  text-transform: capitalize;
}

.btn-info {
	background: #445c7c;
	border-color: #445c7c;
}

.btn-info:hover {
  background: #112949;
	border-color: #112949;
}

.col-md-12 {
	padding: 0 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #445c7c;
}

.footer a {
  color: #445c7c;
}
